.desktop-header .top-menu {
  height: 50px;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
}

/* -------------------------------------------------------------------------------------- */

.desktop-header .top-menu .right {
  height: 50px;
}

.desktop-header .top-menu .right a {
  display: inline-block;
  margin-top: 13px;
}
.desktop-header .top-menu .right .text {
  color: var(--text-color);
  font-size: 16px;
  transition: all 1s;
}

.desktop-header .top-menu .right:hover .text {
  color: var(--text-color-hover);
}

/* -------------------------------------------------------------------------------------- */

.desktop-header .top-menu .left {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
}

.desktop-header .top-menu .left .menu ul li {
  display: inline-block;
  margin: 0 20px;
}

.desktop-header .top-menu .left .menu ul li a {
  color: var(--text-color);
  font-size: 16px;
  transition: all 1s;
}

.desktop-header .top-menu .left .menu ul li a:hover {
  color: var(--text-color-hover);
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

.desktop-header .top-menu .left .change-lang {
  position: relative;
  cursor: pointer;
}

.desktop-header .top-menu .left .change-lang span {
  color: var(--text-color);
  font-size: 16px;
}

.desktop-header .top-menu .left .change-lang .active-lang {
  min-height: 38px;
  min-width: 120px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.5s;
}

.desktop-header .top-menu .left .change-lang .other {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 6px;
  background-color: #fff;
  min-width: 120px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px #bfcede;
  transition: visibility 0.3s, opacity 0.3s;
}

.desktop-header .top-menu .left .change-lang .other div {
  border-radius: 10px;
  margin: 5px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 1s;
}

.desktop-header .top-menu .left .change-lang .show {
  visibility: visible;
  opacity: 1;
  z-index: 999999999;
}

.desktop-header .top-menu .left .change-lang .other div:hover {
  background-color: #e9edf5;
}

.desktop-header .top-menu .left .change-lang .persian:hover {
  box-shadow: 1px 1px 1px 1px 1px #999;
}

.desktop-header .top-menu .left .change-lang .active-lang:hover {
  box-shadow: 0 0 30px #bfcede;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

@media (max-width: 1200px) {
  .desktop-header .top-menu {
    display: none;
  }
}
