/*! ---------------------------------------------------------------------------- d-top-menu ------------------------------------------------------------------------------ */

/** ------------------------------------------------------ global -------------------------------------------------------- */

.d-top-menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.desktop-header .top-menu {
  height: 50px;
  background-color: #f5f7fa;
  display: flex;
  align-items: center;
}

/** ------------------------------------------------------ right -------------------------------------------------------- */

.desktop-header .top-menu .right {
  height: 50px;
}

.desktop-header .top-menu .right a {
  display: inline-block;
  margin: 13px 0 13px 13px;
}
.desktop-header .top-menu .right .text {
  color: #465a71;
  font-size: 16px;
  transition: color 1s;
}

.desktop-header .top-menu .right:hover .text {
  color: #022522;
}

/** ------------------------------------------------------ left -------------------------------------------------------- */

.desktop-header .top-menu .left {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 50px;
}

.desktop-header .top-menu .left .menu ul li {
  display: inline-block;
  margin: 0 20px;
}

.desktop-header .top-menu .left .menu ul li a {
  color: #465a71;
  font-size: 16px;
  transition: all 1s;
}

.desktop-header .top-menu .left .menu ul li a:hover {
  color: #022522;
}

/*? change lang button */

.change-lang {
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}

.change-lang span {
  color: #465a71;
  font-size: 16px;
}

.change-lang .active-lang-header {
  min-height: 38px;
  min-width: 120px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: box-shadow 0.5s;
}

.change-lang img {
  width: 35px;
}

.change-lang .other {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  margin-top: 6px;
  background-color: #fff;
  min-width: 120px;
  border-radius: 10px;
  box-shadow: 0 0 3px 0px #bfcede;
  transition: visibility 0.3s, opacity 0.3s;
}

.change-lang .other div {
  border-radius: 10px;
  margin: 3px;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: background-color 0.5s;
}

.change-lang .show {
  visibility: visible;
  opacity: 1;
  z-index: 999999999;
}

.change-lang .other div:hover {
  background-color: #e9edf5;
}

.change-lang .persian:hover {
  box-shadow: 1px 1px 1px 1px 1px #999;
}

.change-lang .active-lang-header:hover {
  box-shadow: 0 0 30px #bfcede;
}
