/**------------------------------------------------------------------ top-footer ------------------------------------------------------------- */

footer > div {
  display: flex;
  background-color: #003049;
}

.top-footer-wrapper {
  display: grid;
  gap: 80px;
  padding: 50px 0;
  grid-template-columns: repeat(6, 1fr);
}

.top-footer .title {
  color: #20c5ba;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 15px;
}

.top-footer .list li {
  width: 190px;
}
.top-footer .list li a {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 10px;
  transition: color 0.5s;
}

.top-footer .list li span {
  background-color: #002437;
  padding: 5px 7px;
  margin-right: 3px;
  border-radius: 10px;
  color: #fff;
}

.top-footer .list li a:hover {
  color: var(--base-color);
}

.top-footer .list li a:hover span {
  color: #fff;
}

/**------------------------------------------------------------------ bottom-footer ------------------------------------------------------------- */

/*? ===> global */

.bottom-footer {
  background: #002437;
  padding: 20px 0;
}

/*? ===> top */

.bottom-footer .top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 2px solid #003049;
}

/* right */

.bottom-footer .top .right {
  display: flex;
  gap: 20px;
}

.bottom-footer .top .right ul {
  display: flex;
  align-items: center;
  gap: 30px;
}

.bottom-footer .top .right ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  transition: 0.2s ease-in-out;
}

.bottom-footer .top .right ul li a:hover {
  color: var(--base-color);
}

/*! change lang other css style in desktop top-menu file */

.active-lang-footer {
  min-height: 38px;
  min-width: 120px;
  background-color: #054465 !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.change-lang-footer {
  margin: 0 !important;
}

.change-lang-footer .other span {
  color: #fff !important;
}

.change-lang-footer .other div:hover {
  background-color: var(--base-color) !important;
}

.change-lang-footer .active-lang-footer {
  background-color: #054465 !important;
}
.change-lang-footer .active-lang-footer span {
  color: #fff;
}

.change-lang-footer .other {
  bottom: 45px;
  z-index: 1 !important;
  box-shadow: none !important;
  background-color: #054465 !important;
  color: #fff !important;
}

/* left */

.bottom-footer .top .left {
  display: flex;
  gap: 10px;
}

.bottom-footer .top .left .social {
  background-color: #003049;
  align-items: center;
  border-radius: 12px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
}

.bottom-footer .top .left .social svg {
  fill: #0e4e70;
  width: 60%;
  transition: 0.5s;
}

.bottom-footer .top .left .social:hover svg {
  fill: #00e8dd;
}

/*? ===> bottom */

.bottom-footer .bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

/* right */

.bottom-footer .bottom .right {
  display: flex;
  gap: 20px;
}

.bottom-footer .bottom .right > div {
  display: flex;
  justify-content: center;
}

.bottom-footer .bottom .right .logo svg {
  height: 41px;
}

.bottom-footer .bottom .right .copyright {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  padding-top: 3px;
}

/* left */

.bottom-footer .bottom .left {
  display: flex;
  gap: 20px;
}

.bottom-footer .bottom .left .company-logo svg {
  fill: #0e4e70;
  transition: 0.5s;
}

.bottom-footer .bottom .left .company-logo:hover svg {
  fill: var(--base-color);
}

.bottom-footer .bottom .left .company-logo {
    width: 25px;
}
.bottom-footer .bottom .left .company-logo span {
    align-items: center;
    background-color: #00baba;
    border-radius: 4px;
    bottom: calc(100% + 7px);
    color: #002437;
    display: flex;
    font-size: 10px;
    height: 20px;
    min-width: 120px;
    position: relative;
    padding: 0 4px;
    opacity: 0;
    text-align: center;
    transform: translate(50%); 
    transition: opacity .5s ease-in-out;
}

.bottom-footer .bottom .left .company-logo:hover span {
    opacity: 1;
}

/**------------------------------------------------------------------ responsive ------------------------------------------------------------- */

@media (max-width: 750px) {
    .top-footer-wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }
    .bottom-footer .bottom , .bottom-footer .top {
        flex-direction: column;
        align-items: center;
    }
    .bottom-footer .bottom .right , .bottom-footer .top .right {
        margin-bottom: 20px !important;
    }
}
@media (min-width: 641px) and (max-width: 1280px) {
    .top-footer-wrapper {
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
      }
}