/**------------------------------------------------------------------ global ------------------------------------------------------------- */

main .solution {
  display: flex;
}

main .solution-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** ----------------------------------------------------------------- header -------------------------------------------------------------- */

/* title */

main .solution .title {
  color: #6c819b;
  font-size: 16px;
  font-weight: 500;
  position: relative;
}

main .solution .title:before {
  content: '';
  background-color: var(--base-color);
  width: 40px;
  height: 2px;
  position: absolute;
  top: 120%;
  right: 35%;
}

/* sub-title */

main .solution .sub-title {
  color: #344456;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 16px;
  margin-top: 20px;
}

/* description */

main .solution .description {
  font-size: 18px;
  max-width: 1200px;
  font-weight: 400;
  color: #344456;
  margin: 0 auto;
  text-align: center;
}

/** ----------------------------------------------------------------- solution-tab -------------------------------------------------------------- */

main .solution-tab-wrapper {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
  width: 100%;
}

main .solution-tab {
  display: flex;
  cursor: pointer;
  gap: 10px;
}

main .solution-tab .text {
  color: #7a90aa;
  font-size: 17px;
  font-weight: 400;
  padding-top: 3px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

/*? hover effect */

main .solution-tab .text:after {
  display: block;
  content: '';
  margin-top: 5px;
  border-bottom: solid 2px #00baba;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

main .solution-tab .text:hover {
  color: var(--base-color);
}

/*? active effect */

main .solution-tab.active .text {
  color: var(--base-color);
  font-weight: 700;
}

main .solution-tab.active .text:after {
  transform: scaleX(1);
}

/** -------------------------------------------------------------- solution-content ----------------------------------------------------------- */

main .product-content-wrapper {
  margin-bottom: 20px !important;
}

main .solution-content {
  display: none;
  gap: 25px;
}

main .solution-content.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

main .solution-content-item {
  width: 300px;
  height: 220px;
  background-color: #fff;
  border-radius: 16px;
  padding: 32px 18px;
  box-shadow: 0 30px 50px -3px #cfdae5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  transition: border 0.3s;
}

main .solution-content-item .content-title {
  font-size: 20px;
  margin-bottom: 8px;
  color: #344456;
  font-style: normal;
  font-weight: 500;
}

main .solution-content-item .content-sub-title {
  color: #344456;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

main .solution-content-item:hover {
  border: 3px solid var(--base-color);
}

/** ----------------------------------------------------------------- responsive -------------------------------------------------------------- */

@media (max-width: 600px) {
  /* product tab */
  main .solution-tab-wrapper {
    gap: 10px;
    overflow: auto;
  }
  main .solution-tab {
    background-color: #e5ebf3;
    border-radius: 12px;
    color: #7a90aa;
  }
  main .solution-tab .text {
    font-weight: 700;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 170px;
  }

  main .solution-tab.active {
    background: #fff;
  }

  main .solution-tab.active .text::after {
    content: '';
    width: 0;
  }
  /* product item */
  main .solution-content-item {
    width: 100%;
  }

  /* description */
  main .solution .description {
    text-align: justify;
  }
}