/* ----------------------------------- global ------------------------------------ */

main .product {
  display: flex;
}

main .product .product-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 150px;
  padding-top: 100px;
}

main .product .product-wrapper > .title {
  color: #7a90aa;
  font-size: 17px;
  margin-bottom: 20px;
}

main .product .product-wrapper > .title:after {
  background-color: #20c5ba;
  content: '';
  display: block;
  height: 2px;
  margin: 10px auto;
  width: 50px;
}

main .product .sub-title {
  font-size: 36px;
  margin-bottom: 50px;
  color: #344456;
  font-weight: 700;
  margin-bottom: 16px;
  text-align: center;
}

/* ------------------------------ product tab --------------------------------- */

/*? global */

main .product .product-tab-wrapper {
  display: flex;
  gap: 50px;
}

main .product .product-tab {
  display: flex;
  cursor: pointer;
  gap: 10px;
}

main .product .product-tab .text {
  color: #7a90aa;
  font-size: 18px;
  font-weight: 700;
  padding-top: 3px;
  position: relative;
  transition: color 0.2s ease-in-out;
}

/*? hover effect */

main .product .product-tab .text:after {
  display: block;
  content: '';
  border-bottom: solid 2px #00baba;
  transform: scaleX(0);
  transition: transform 0.2s ease-in-out;
}

main .product .product-tab .text:hover {
  color: var(--base-color);
}

/*? active effect */

main .product .product-tab.active .text {
  color: var(--base-color);
}

main .product .product-tab.active .text:after {
  transform: scaleX(1);
}

main .product .product-tab.active .icon {
  display: block;
}

main .product .product-tab.active .icon svg #productsCDNCircle {
  stroke: #344456;
}

main .product .product-tab.active .icon svg #productsCDNOrbitGreenSmall {
  stroke: #00baba;
}
main .product .product-tab.active .icon svg #productsCDNOrbitGraySmall {
  stroke: #aab8c9;
}

main .product .product-tab.active .icon svg #productsCDNOrbitGreen {
  stroke: #00baba;
}

main .product .product-tab.active .content {
  height: 500px;
  background-color: #eef2f7;
  border-radius: 30px;
}

/* ---------------------------- product content -------------------------------- */

/*? global */

main .product .product-content-wrapper {
  padding: 0 70px;
  width: 100%;
  background-color: #eef2f7;
  margin-top: 20px;
  border-radius: 30px;
  height: 500px;
}

main .product .product-content {
  display: flex;
  height: inherit;
  display: none;
}

/*? content */

main .product .product-content .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

main .product .product-content .content .title {
  color: #344456;
  font-size: 28px;
  font-weight: 800;
}

main .product .product-content .content .description {
  color: #344456;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  padding-left: 50px;
}

main .product .product-content .content .button {
  align-items: center;
  display: flex;
  gap: 5px;
  color: var(--base-color);
  font-size: 19px;
  font-weight: 700;
  transition: color 0.2s ease-in-out;
}

/*? hover effect */

main .product .product-content .content .button:hover {
  color: #00a7a7;
}

/*? active effect */

main .product .product-content.active {
  display: flex;
}

/*? image */

main .product .product-content .image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: inherit;
}

/* -------------------------------------- responsive ----------------------------------------- */
@media (max-width: 560px) {
  main .product .product-tab {
    height: 40px !important;
  }
  main .product .sub-title {
    font-size: 30px !important;
  }
  main .product .product-tab.active .icon {
    display: none !important;
  }
}
@media (max-width: 1020px) {
  main .product .product-tab .icon {
    display: none;
  }

  main .product .product-tab.active .icon {
    display: block;
  }

  main .product .product-tab-wrapper {
    gap: 10px;
  }

  main .product .product-tab {
    gap: 0;
    background-color: #eef2f7;
    border-radius: 10px;
    height: 40px;
    padding: 5px 10px;
    display: flex;
  }

  main .product .product-tab.active {
    gap: 0;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px;
  }

  main .product .product-tab .text {
    display: flex;
    align-items: center;
    font-size: 15px !important;
  }

  main .product .product-tab.active .icon {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  main .product .product-tab .text {
    font-size: 10px !important;
  }
  main .product .product-tab .text::after {
    border: none;
  }
}

@media (max-width: 1280px) {
  /* ===> global */

  main .product .product-content-wrapper {
    padding-top: 30px;
  }

  /* ===> product content */

  main .product .product-content-wrapper {
    height: auto;
    padding: 30px;
  }
  main .product .product-content {
    flex-direction: column-reverse;
  }
  main .product .product-content .content {
    gap: 10px;
  }
  main .product .product-content .content .description {
    padding: 0;
  }
  main .product .product-content > div {
    width: 100% !important;
  }
}
