/* ---> show main-menu */

.mobile-header .m-show-menu {
  border-top: 1px solid #f2f4f7;
  background-color: #fff;
  align-items: center;
  padding: 0 0 0px 0;
  z-index: 99999;
  position: relative;
}

.mobile-header .m-main-menu {
  border-bottom: 1px solid #b2c2d6;
}

.mobile-header > div li > a {
  background: #fff;
  color: #093d3f !important;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 0 25px;
}

/* ---> show links [ top-menu in desktop ] */

.mobile-header .m-links {
  color: #8499b7;
  font-size: 14px;
  font-weight: 500;
}

.mobile-header .m-links li a {
  color: #738399 !important;
}

.mobile-header .m-links .m-change-lang {
  padding-bottom: 20px;
  border-bottom: 1px solid #b2c2d6;
}

.mobile-header .m-links .m-change-lang i {
  width: 10px;
  height: 10px;
  transition: transform 1s;
}

.mobile-header .m-links .m-change-lang.active i {
  transform: rotate(180deg);
}

.m-change-lang-sub {
  background-color: #eef2f7 !important;
  padding: 5px 15px !important;
}

.m-change-lang-sub li a {
  justify-content: flex-start !important;
  background-color: #eef2f7 !important;
  font-size: 15px;
  padding: 3px 0 !important;
}

.m-change-lang-sub li span {
  color: #009191 !important;
}

.m-change-lang-sub,
.m-change-lang-sub li a span {
  margin-top: 5px;
  padding-right: 10px;
}

.m-change-lang-sub li {
  margin: 0px;
}

.mobile-header .m-login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #20c5ba;
  border-radius: 10px;
  height: 50px;
  margin: 15px 20px;
}

.m-login-button span {
  color: #fff;
  font: 15px 500;
}

.m-support-button {
  border-bottom: 1px solid #c8d5e4;
  border-top: 1px solid #c8d5e4;
  display: flex;
  padding: 20px 20px;
  background-color: #eef2f7;
  color: #009191;
  font-size: 16px;
  font-weight: 500;
}

.m-support-button span {
  padding-right: 10px;
}