
/*! ---------------------------------------------------------- custom grid system for responsive ---------------------------------------------------------------- */

.c-container {
  margin-inline-end: auto;
  margin-inline-start: auto;
  padding-inline-end: 16px;
  padding-inline-start: 16px;
  clear: both;
  margin: 0 auto;
  width: 100%;
}

@media (min-width: 768px) {
  .c-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .c-container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .c-container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .c-container {
    max-width: 1536px;
    padding: 0 30px;
  }
}
