/** -------------------------------- css reset ------------------------------- */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Vazirmatn, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #efefef;
}

/** -------------------------------- variable -------------------------------- */

:root {
  --base-color: #00baba;
  --text-color: #465a71;
  --text-color-hover: #022522;
}
