/** -------------------------------- css reset ------------------------------- */

* {
  padding: 0;
  margin: 0;
  font-family: Vazirmatn, sans-serif;
  list-style-type: none;
  text-decoration: none;
}

*, :after, :before {
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

body {
  background-color: #F6F7FB;
}

.f-wrapper {
  justify-content: space-between;
  display: flex;
}

/** -------------------------------- variable -------------------------------- */

:root {
  --base-color: #00baba;
  --text-color: #465a71;
  --text-color-hover: #022522;
}
