/* --------------------------------- module --------------------------------- */

@import url(_top-menu.css);
@import url(_main-menu.css);

/* -------------------------------- css reset ------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Vazirmatn, sans-serif;
    list-style-type: none;
    text-decoration: none;
}

body {
    background-color: #efefef;
}

/* -------------------------------- variable -------------------------------- */

:root {
    --base-color: #00BABA;
    --text-color: #465A71;
    --text-color-hover: #022522;
}